<?xml version="1.0" encoding="UTF-8"?>
<suite name="生成测试报告">
	<test name="相关测试报告生成">
		<classes>
			<class name="com.course.extent.demo.TestDemoMethods">
				<methods>
				<include name="test1" />
				<include name="test2" />
				<include name="test3" />
				<include name="logDemo" />
				</methods>
			</class>
		</classes>
	</test>
	<listeners>
	<!-- <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"></listener> -->
	<listener class-name="com.course.extent.demo.ExtentTestNGIReporterListenerOld"></listener>
	</listeners>
</suite>